@model IEnumerable<QuanLySieuthimini1.Models.Hanghoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            <h2>Danh sách hàng hoá</h2>
        </th>
        <th>
            @Html.ActionLink("Thêm Mới", "Create")
        </th>
        <th>
            @Html.ActionLink("Quay Lại", "Index", "Homes")
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ma_HH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhacungcap.Ten_NCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhomhang.Ten_NH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_HH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Ma_HH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nhacungcap.Ten_NCC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nhomhang.Ten_NH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ten_HH)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.Ma_HH }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.Ma_HH }) |
        @Html.ActionLink("Xoá", "Delete", new { id = item.Ma_HH })
    </td>
</tr>
}

</table>
