@model QuanLySieuthimini1.Models.Hoadon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết của hoá đơn</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hanghoa.Ten_HH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hanghoa.Ten_HH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhanvien.Ten_NV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvien.Ten_NV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaytaohoadon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaytaohoadon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Ma_HD }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
