@model IEnumerable<QuanLySieuthimini1.Models.Hoadon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hanghoa.Ten_HH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhanvien.Ten_NV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trangthai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaytaohoadon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hanghoa.Ten_HH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhanvien.Ten_NV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trangthai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaytaohoadon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_HD }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_HD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_HD })
        </td>
    </tr>
}

</table>
