@model QuanLySieuthimini1.Models.Nhanvien

@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Đăng Nhập</h2>

@using (Html.BeginForm("Dangnhap", "Home", FormMethod.Post))

{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.Email, "Email")
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Matkhau, "Mật khẩu")
        @Html.PasswordFor(m => m.Matkhau)
    </div>
    <input type="submit" value="Đăng nhập" />
}

