@model QuanLySieuthimini1.Models.Chitiethanghoa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xoá</h2>

<h3>Bạn chắc chắn muốn xoá mục này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nhomhangs.Ten_NH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhomhangs.Ten_NH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_HH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_HH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noi_SX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noi_SX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongNhap)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
