@model QuanLySieuthimini1.Models.Chitiethoadon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hoadon.Ten_HH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoadon.Ten_HH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_HH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_HH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Ma_CTHD }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
