@model IEnumerable<QuanLySieuthimini1.Models.Chitiethoadon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách chi tiết hoá đơn</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ma_CTHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ma_HD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoadon.Ten_HH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_HH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Ma_CTHD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ma_HD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hoadon.Ten_HH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ten_HH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Soluong)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gia)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.Ma_CTHD }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.Ma_CTHD }) |
        @Html.ActionLink("Xoá", "Delete", new { id = item.Ma_CTHD })
    </td>
</tr>
}

</table>
