@model IEnumerable<QuanLySieuthimini1.Models.Chitiethoadon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hoadon.Trangthai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ma_HH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hoadon.Trangthai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_HH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_CTHD }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_CTHD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_CTHD })
        </td>
    </tr>
}

</table>
