<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">          
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nhà cung cấp", "Index", "Nhacungcaps")</li>
                    <li>@Html.ActionLink("Hóa đơn", "Index", "Hoadons")</li>
                    <li>@Html.ActionLink("Hàng Hóa", "Index", "Hanghoas")</li>
                    <li>@Html.ActionLink("Nhân Viên", "Index", "Nhanviens")</li>
                    <li>@Html.ActionLink("Nhóm hàng", "Index", "Nhomhangs")</li>
                    <li>@Html.ActionLink("Chi Tiết Hàng Hóa", "Index", "Chitiethanghoas")</li>
                    @if (Session["idNhanvien"] == null)
                    {
                        <li>@Html.ActionLink("Đăng kí", "Dangki", "Home")</li>
                        <li>@Html.ActionLink("Đăng nhập", "Dangnhap", "Home")</li>
                    }
                    else
                    {
                        <li class="nav navbar-nav text-warning "> Xin chào: @Session["Ten_NV"]</li>
                        <li>@Html.ActionLink("Đăng Xuất", "Dangxuat", "Home")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
