@model QuanLySieuthimini1.Models.Hoadon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hoadon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chitiethanghoa.Noi_SX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chitiethanghoa.Noi_SX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhanvien.Ten_NV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvien.Ten_NV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaytaohoadon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaytaohoadon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_HD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
