@model QuanLySieuthimini1.Models.Nhanvien
@{
    ViewBag.Title = "Dangki";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Đăng kí</h2>
<div class="container">
    <div class="col-6">
        @using (Html.BeginForm("Dangki", "Homes", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(nv => nv.Ten_NV, "Tên Nhân Viên:")
                @Html.TextBoxFor(nv => nv.Ten_NV)
            </div>
            <div>
                @Html.LabelFor(nv => nv.SĐT, "Số Điện Thoại:")
                @Html.TextBoxFor(nv => nv.SĐT)
            </div>
            <div>
                @Html.LabelFor(nv => nv.Diachi, "Địa chỉ:")
                @Html.TextBoxFor(nv => nv.Diachi)
            </div>
            <div>
                @Html.LabelFor(nv => nv.Gioitinh, "Giới tính:")
                @Html.TextBoxFor(nv => nv.Gioitinh)
            </div>
            <div>
                @Html.LabelFor(nv => nv.Email, "Email:")
                @Html.TextBoxFor(nv => nv.Email)
            </div>
            <div>
                @Html.LabelFor(nv => nv.Matkhau, "Mật khẩu:")
                @Html.TextBoxFor(nv => nv.Matkhau)
            </div>
            <div>
                @Html.LabelFor(nv => nv.Xacnhanmatkhau, "Xác nhận mật khẩu:")
                @Html.TextBoxFor(nv => nv.Xacnhanmatkhau)
            </div>
            <div>
                @Html.LabelFor(nv => nv.Role, "Chức vụ:")
                @Html.TextBoxFor(nv => nv.Role)
            </div>
            <input type="submit" value="Đăng ký" />
        }
    </div>
</div>

